
<h4> Camping </h4>
<% campResults.forEach(oneCamp => { %>

<img src="<%= oneCamp.images %>" alt="<%= oneCamp.name %>" />
<h5> <%=oneCamp.name %> </h5>
<p> <%= oneCamp.description %> </p>
<% oneCamp.entranceFees.forEach(feeObj => { %>
<h5> <%= feeObj.description %> </h5>
<% }) %>

<% oneCamp.activities.forEach(aObj => { %>
<h6> <%= aObj.name %></h6>
<% }) %>

<form action="/favorites.ejs" method="POST">
  <input type="hidden" name="images" value="<%=oneCamp.images %>" />
  <input type="hidden" name="name" value="<%=oneCamp.name %>" />
  <input type="hidden" name="description" value="<%=oneCamp.description %>" />
  <input type="hidden" name="entranceFees" value="<%=oneCamp.entranceFees%>" />
  <input type="hidden" name="activities" value="<%=oneCamp.activities %>" />
  <button type="submit"> Add to my favorites </button>
</form>
<% }) %>


<form value="./music" method="GET">
  <button type="submit">Get Local Music</button>
</form>