<div class="favoritespage">
<% if (trailData.length > 0) { %>
<% trailData.forEach(oneTrail => { %>
  <section id="<%= oneTrail.api_id %>">
    <h4> Hiking </h4>
    <img src="<%= oneTrail.img_medium %>" alt="<% oneTrail.name %>"/>
    <h5> <%= oneTrail.name %> </h5>
    <h5> <%= oneTrail.length %> </h5>
    <h5> <%= oneTrail.ascent %> </h5>
    <p> <%= oneTrail.summary %> </p>
    <h6> <%= oneTrail.difficulty %> </h6>
    <h6> <%= oneTrail.conditionStatus %> </h6>
    <h7> <%= oneTrail.stars %> </h7>
  </section>
    <form action="/favorites/<%= oneTrail.api_id %>?_method=put" method="POST">
      <input type="hidden" name="table_name" value="trails" />
      <% if (oneTrail.notes == null || oneTrail.notes === '') { %>
        <textarea name="notes" id="" cols="40" rows="10" placeholder="Enter your notes here..."></textarea>        
      <% } else { %>
        <textarea name="notes" id="" cols="40" rows="10"><%= oneTrail.notes %></textarea>
      <% } %>
      <button type="submit">Save Notes</button>
    </form>
    <form action="/favorites/<%= oneTrail.api_id %>?_method=delete" method="POST">
      <input type="hidden" name="table_name" value="trails" />
      <button type="submit">Remote From Favorites</button>
    </form>
    <% }); %>
    <% } %>
  </div>