<% if (climbingData.length > 0) { %>
  <% climbingData.forEach(oneClimb => { %>
    <div class="results">
    <section id="<%= oneClimb.api_id %>">
      <img src="<%= oneClimb.img_medium %>" alt="<%= oneClimb.name %>"/>
      <h5> <%= oneClimb.location %> </h5>
      <h5> <%= oneClimb.name %> </h5>
      <h5> <%= oneClimb.type %> </h5>
      <h6> <%= oneClimb.pitches %> pitches </h6>
      <h6> <%= oneClimb.stars %> stars </h6>
      <form action="/favorites/<%= oneClimb.api_id %>?_method=put" method="POST">
        <input type="hidden" name="table_name" value="climbing" />
        <% if (oneClimb.notes == null || oneClimb.notes === '') { %>
          <textarea name="notes" id="" cols="60" rows="10" placeholder="Enter your notes here..."></textarea>        
        <% } else { %>
          <textarea name="notes" id="" cols="60" rows="10"><%= oneClimb.notes %></textarea>
        <% } %>
        <button type="submit">Save Notes</button>
      </form>
      <form action="/favorites/<%= oneClimb.api_id %>?_method=delete" method="POST">
        <input type="hidden" name="table_name" value="climbing" />
        <button type="submit">Remove From Favorites</button>
      </form>
    </section>
  </div>
  <% }); %>
<% } else { %>
  <h5>No rock climbing routes saved to favorites</h5>
<% } %>