<h4> Hiking </h4>
<% trailResults.forEach(oneTrail => { %>
  <section id="<%= oneTrail.api_id %>">
    <img src="<%= oneTrail.img_medium %>" alt="<% oneTrail.name %>"/>
    <h5> <%= oneTrail.name %> </h5>
    <h5> <%= oneTrail.length %> </h5>
    <h5> <%= oneTrail.ascent %> </h5>
    <p> <%= oneTrail.summary %> </p>
    <h6> <%= oneTrail.difficulty %> </h6>
    <h6> <%= oneTrail.conditionStatus %> </h6>
    <h7> <%= oneTrail.stars %> </h7>
    <form action="/favorites" method="POST" >
      <input type="hidden" name="api_id" value=<%= oneTrail.api_id %> />
      <input type="hidden" name="image" value="<%= oneTrail.img_medium %>"/> 
      <input type="hidden" name="name" value="<%= oneTrail.name %>"/>
      <input type="hidden" name="distance" value="<%= oneTrail.length %>"/>
      <input type="hidden" name="ascent" value="<%= oneTrail.ascent %>"/>
      <input type="hidden" name="summary" value="<%= oneTrail.summary %>"/>
      <input type="hidden" name="difficulty" value="<%= oneTrail.difficulty %>"/>
      <input type="hidden" name="conditionStatus" value="<%= oneTrail.conditionStatus %>"/>
      <input type="hidden" name="stars" value="<%= oneTrail.stars %>"/>
      <button type="submit"> Add to my favorites </button>
    </form>
  </section>
  <% }); %>