<%- include('./partials/header.ejs') %>

<h1>Favorites</h1>

<h4> Hiking </h4>
<% trailResults.forEach(oneTrail => { %>
  <section id="<%= oneTrail.api_id %>">
    <img src="<%= oneTrail.img_medium %>" alt="<% oneTrail.name %>"/>
    <h5> <%= oneTrail.name %> </h5>
    <h5> <%= oneTrail.length %> </h5>
    <h5> <%= oneTrail.ascent %> </h5>
    <p> <%= oneTrail.summary %> </p>
    <h6> <%= oneTrail.difficulty %> </h6>
    <h6> <%= oneTrail.conditionStatus %> </h6>
    <h7> <%= oneTrail.stars %> </h7>
  </section>
  <% }); %>

<%- include('./partials/footer.ejs') %>