<%- include('./partials/header.ejs') %>

<h1>Favorites</h1>

<h4> Hiking </h4>
<%- include('./partials/favorites-trail.ejs') %>

<h4>Camping</h4>
<%- include('./partials/favorites-camping.ejs') %>

<h4>Rocking Climbing</h4>
<%- include('./partials/favorites-rock-climbing.ejs') %>

<h4>Mountain Biking</h4>
<%- include('./partials/favorites-mtn-biking.ejs') %>

<%- include('./partials/footer.ejs') %>