<%- include('./partials/header.ejs') %>
<div id="suggestions">
  <h4 class="activity">Favorites</h4>
  <div id=nav_bar>
    <a class="nav" href="/"> Home </a>
    <a class="nav" href="/bio"> About Us </a>
  </div>
</div>

<div id="favoriteflex">
<%- include('./partials/favorites-trail.ejs') %>


<%- include('./partials/favorites-camping.ejs') %>


<%- include('./partials/favorites-rock-climbing.ejs') %>

<%- include('./partials/favorites-mtn-biking.ejs') %>


<%- include('./partials/favorites-breweries.ejs') %>

<%- include('./partials/footer.ejs') %>

</div>