<%- include('header.ejs') %>

<a href="/index.ejs"> Go Home </a>

<!-- <div id="hiking_favorites">
<h4> Hiking </h4> -->
<!-- <img src="<% %>" alt="<% name %>"/> -->
<!-- <h5>  <%= name %> </h5>
<h5> <%= Distance %> </h5>
<h5> <%= Total elevation %> </h5>
<p> <%= Description %> </p>
<h6> <%= Difficulty rating %> </h6>
<h6> <%= Condtion status %> </h6>
<h7> <%= Reviews %> </h7> -->
<!-- </div> -->

<!-- <div id="camping_favorites">
<h4> Camping </h4> -->
<!-- <img src="<% %>" alt="<% name %>"/> -->
<!-- <h5> <%= Name %> </h5>
<p> <%= Description %> </p>
<h5> <%= Accesibility %> </h5>
<h6> <%=Restrooms %> </h6> 
<h6> <%= Firewood on site? %> </h6>
<h6> <%= Potable Water %> </h6>
<h6> <%= Reservations %> </h6>
<h6> <%= Fees %> </h6> -->
<!-- </div> -->

<!-- <div id="climbing_favorites">
<h4> Rock Climbing </h4> -->
<!-- <img src="<% %>" alt="<% name %>"/> -->
<!-- <h5> <%= Name %> </h5>
<h5> <%= Type - sport or trad %> </h5>
<h6> <%= # of pitches %> </h6>
<h6> <%= Condition Status %> </h6>
<h6> <%= Stars %> </h6>
<h7> <%= Reviews %> </h7> -->
<!-- </div> -->


<%- include('footer.ejs') %>