

<%- include('./partials/header.ejs') %>

<div id="suggestions">

<div id=nav_bar>
  <ul>
    <l1><a href="/"> Home </a></l1>
    <l1><a href="/bio"> Bio </a></l1>
  </ul>
</div>

<div id="resultsPage">

  <h3 id="resultsHead"><%= userName %>'s Weekend Suggestions</h3>
</div>
<div id="resultsPage">
  <% if (queryType == 'hiking') { %>
    <%- include('./partials/hiking.ejs') %>
  <% } else if (queryType == 'climbing') {  %>
    <%- include('./partials/rock-climbing.ejs') %>
  <% } else if (queryType == 'camping') { %>
    <%- include('./partials/camping.ejs') %>
  <% } else if (queryType == 'mountainbiking') { %>
    <%- include('./partials/mtbiking.ejs') %>
  <% } else if (queryType == 'snowsports') { %>
    <%- include('./partials/snowsports.ejs') %>
  <% } else if (queryType == 'brewery') { %>
    <%- include('./partials/brewery.ejs') %>
  <% } else if (queryType == 'music') { %>
    <%- include('./partials/music.ejs') %>
  <% } %>
</div>























<%- include('./partials/footer.ejs') %>