
<%- include('./partials/header.ejs') %>
<div id="resultsPage">
<h3 id="resultsHead">Your Weekend Suggestions</h3>
<%- include('./partials/music_button') %>

<% if (queryType == 'hiking') { %>
  <%- include('./partials/hiking.ejs') %>
<% } else if (queryType == 'climbing') {  %>
  <%- include('./partials/rock-climbing.ejs') %>
<% } else if (queryType == 'camping') { %>
  <%- include('./partials/camping.ejs') %>
<% } else if (queryType == 'mountainbiking') { %>
  <%- include('./partials/mtbiking.ejs') %>
<% } else if (queryType == 'snowsports') { %>
  <%- include('./partials/snowsports.ejs') %>
<<<<<<< HEAD
<% } %>
</section>




<%- include('./partials/header.ejs') %>
<h3>Your weekend suggestions</h3>











=======

<% } %> 
>>>>>>> 45b546aeb3e402fb52aeb9f2a442d3ca29c8cdcc

</div>

<%- include('./partials/footer.ejs') %>